*{
    font-family: "Poppins", serif;
}


.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head img {
    margin-left: 9%;
}

.head ul {
    display: flex;
}

.head ul li{
    padding-left: 90px;
    font-size: 18px;
}

.head ul li a:hover{
    color: rgb(3, 133, 57);
}

.head ul li a{
    text-decoration: none;
    color: black;
}

.head form {
    margin-left: 9%;
    height: 37px;
    width: 15%;
    border: 0.01px solid rgb(216, 213, 213);
    border-radius: 5px;
    display: flex;
}

.head input{
    height: 35px;
    width: 83%;
    padding-left: 5%;
    border: none;
}

.head input:hover {
    border: none;
}

.head form img {
    height: 60%;
    position: relative;
    top: 5px;
    left: -10px;
    cursor: pointer;
}

.head .liked {
    height: 1%;
    width: 1%;
    margin: 1%;
    cursor: pointer;
}

.head .header-cart {
    height: 1%;
    width: 1%;
    margin: 0;
    cursor: pointer;
}

.banner {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.banner .images{
    position: relative;
    margin-top: -1%;
    left: 5%;
    height: 500px;
}

.banner .images img{
    height: 475px;
}

.banner .text {
    position: relative;
}

.banner .hot {
    color: rgb(100, 96, 96);
    font-size: 25px;
}

.banner .Fashion {
    color: black;
    font-size: 50px;
}

.banner .great {
    color: rgb(48, 128, 48);
    font-weight: 700;
}

.banner .discount {
    font-size: 25px;
}

.banner form {
    height: 40px;
}

.banner input {
    height: 40px;
    width: 110px;
    background-color: rgb(48, 128, 48);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease;
}

.banner input:hover {
    background-color: white;
    color: rgb(48, 128, 48);
    border: 1px solid rgb(48, 128, 48);
}

.categories {
    position: relative;
    margin-left: 9.25%;
    font-size: 22px;
    font-weight: bold;
}

.categories .scroller{
    display: flex;
}
.categories .scroller form{
    position: relative;
    top: 25%;
    left: 80%;
    border: none;
}

.categories .scroller input{
    position: relative;
    top: 25%;
    height: 30px;
    width: 30px;
    border: none;
    background-color:rgb(152, 207, 152) ;
    border-radius: 50%;
    cursor: pointer;
}

.categories .highlight {
    color: rgb(48, 128, 48);
}

.categories .containers{
    position: relative;
    left: -1.75%;
    display: flex;
    justify-content: space-evenly;
}

.categories .containers p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
    font-size: 18px;
}

.categories .containers img{
    height: 230px;
    border-radius: 25px;
}

.categories .containers .container1{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container2{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container3{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container4{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container5{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container6{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.featured {
    margin-top: 4%;
}

.featured input {
    height: 40px;
    width: 110px;
    background-color: rgb(211, 208, 208);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.featured input:hover {
    background-color: rgb(228, 199, 147);
    font-weight: bold;
    color: rgb(48, 128, 48);
    cursor: pointer;
}

.hotcollect {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 3%;
}

.hotcollect .container1 {
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container1:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect img {
    height: 350px;
    width: 350px;
    border-radius: 25px;
}

.hotcollect p {
    margin-left: 3%;
}

.hotcollect .grey1{
    font-size: 17px;
    color: rgb(150, 143, 143);
    font-weight: lighter;
}

.hotcollect .grey {
    position: relative;
    top: -360px;
    font-size: 17px;
    color: rgb(150, 143, 143);
    font-weight: lighter;
}

.hotcollect .name{
    position: relative;
    top: -360px;
}

.hotcollect .topimg {
    position: absolute;
    left: 10px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg:hover{
    cursor: pointer;
    opacity: 1;
}
.hotcollect .container2 {
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container2:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .topimg2 {
    position: relative;
    top: -360px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg2:hover{
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container3 {
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container3:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .topimg3 {
    position: relative;
    top: -360px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg3:hover{
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container4 {
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container4:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .topimg4 {
    position: relative;
    top: -360px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg4:hover{
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container5 {
    margin-top: 7%;
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container5:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .topimg5 {
    position: relative;
    top: -360px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg5:hover{
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container6 {
    margin-top: 7%;
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container6:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .topimg6 {
    position: relative;
    top: -360px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg6:hover{
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container7 {
    margin-top: 7%;
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container7:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .topimg7 {
    position: relative;
    top: -360px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg7:hover{
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container8 {
    margin-top: 7%;
    position: relative;
    border: 0.01px solid rgb(216, 213, 213);
    height: 600px;
    width: 350px;
    padding: 10px;
    border-radius: 25px;
}

.hotcollect .container8:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .topimg8 {
    position: relative;
    top: -360px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg8:hover{
    cursor: pointer;
    opacity: 1;
}

footer {
    margin-top: 5%;
}

.mail {
    padding-left: 9%;
    height: 100px;
    display: grid;
    grid-template-columns: 2% 25% 26% 36%;
    background-color: rgb(138, 182, 138) ;
    align-items: center;
}

.mail img {
    height: 25px;  
}

.mail form{
    height: 32px;
}

.mail .text {
    padding: 0 20px;
    margin-left: 2%;
    height: 42px;
    width: 60%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mail .Subscribe {
    height: 42px;
    border: none;
    width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: -4px;
    background-color: black;
    color: white;
}

.address-bar{
    margin-left: 9%;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    margin-top: 3%;
}

.address-bar .logo-address img {
    height: 135px;
}

.address-bar ul{
    margin-top: 10px;
}

.address-bar ul li {
    height: 35px;
}

.address-bar ul p{
    margin-bottom: 25px;
}

.address-bar .Capital {
    font-weight: bold;
    font-size: large;
}

.address-bar p {
    margin: 5px;
    margin-left: 0px;
}

.address-bar .bold {
    font-weight: bold;
}

.address-bar a {
    text-decoration: none;
    color: black;
}