*{
    font-family: "Poppins", serif;
}


.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head img {
    margin-left: 5%;
}

.head ul {
    display: flex;
}

.head ul li{
    padding-left: 90px;
    font-size: 18px;
}

.head ul li a:hover{
    color: rgb(3, 133, 57);
}

.head ul li a{
    text-decoration: none;
    color: black;
}

.head form {
    margin-left: 9%;
    height: 37px;
    width: 15%;
    border: 0.01px solid rgb(216, 213, 213);
    border-radius: 5px;
    display: flex;
}

.head input{
    height: 35px;
    width: 83%;
    padding-left: 5%;
    border: none;
}

.head input:hover {
    border: none;
}

.head form img {
    height: 60%;
    position: relative;
    top: 5px;
    left: -10px;
    cursor: pointer;
}

.head .liked {
    height: 1%;
    width: 1%;
    margin: 1%;
    cursor: pointer;
}

.head .header-cart {
    height: 1%;
    width: 1%;
    margin: 0;
    cursor: pointer;
}

.banner {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.banner .images{
    position: relative;
    margin-top: -1%;
    left: 3%;
    height: 500px;
}

.banner .images img{
    height: 475px;
}

.banner .text {
    position: relative;
    left: -3%;
}

.banner .hot {
    color: rgb(100, 96, 96);
    font-size: 25px;
}

.banner .Fashion {
    color: black;
    font-size: 50px;
}

.banner .great {
    color: rgb(48, 128, 48);
    font-weight: 700;
}

.banner .discount {
    font-size: 25px;
}

.banner form {
    height: 40px;
}

.banner input {
    height: 40px;
    width: 110px;
    background-color: rgb(48, 128, 48);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease;
}

.banner input:hover {
    background-color: white;
    color: rgb(48, 128, 48);
    border: 1px solid rgb(48, 128, 48);
}

.categories {
    position: relative;
    margin-left: 5.25%;
    font-size: 22px;
    font-weight: bold;
}

.categories .scroller{
    display: flex;
}
.categories .scroller form{
    position: relative;
    top: 25%;
    left: 80%;
    border: none;
}

.categories .scroller input{
    position: relative;
    top: 25%;
    height: 30px;
    width: 30px;
    border: none;
    background-color:rgb(152, 207, 152) ;
    border-radius: 50%;
    cursor: pointer;
}

.categories .highlight {
    color: rgb(48, 128, 48);
}

.categories .containers{
    position: relative;
    left: -2%;
    display: flex;
    justify-content: space-evenly;
}

.categories .containers p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
    font-size: 18px;
}

.categories .containers img{
    height: 230px;
    border-radius: 25px;
}

.categories .containers .container1{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container2{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container3{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container4{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container5{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.categories .containers .container6{
    border: 0.01px solid rgb(216, 213, 213);
    padding: 10px;
    height: 300px;
    border-radius: 25px;
}

.featured {
    margin-top: 4%;
}

.featured input {
    height: 40px;
    width: 110px;
    background-color: rgb(211, 208, 208);
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.featured input:hover {
    background-color: rgb(228, 199, 147);
    font-weight: bold;
    color: rgb(48, 128, 48);
    cursor: pointer;
}

.hot {
    margin-left: 5%;
}

.hotcollect {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
}

.hotcollect img {
    height: 350px;
    width: 350px;
    border-radius: 25px;
}

.hotcollect .container1{
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .text {
    width: 350px;
    height: 250px;
    position: relative;
    left: -700px;
    top: 350px;
}

.hotcollect p {
    margin-left: 2%;
    padding-top: 3%;
    width: 350px;
}

.hotcollect .grey{
    color: rgb(150, 143, 143);
    font-size: 17px;
}

.hotcollect .bold {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 5px;
}

.hotcollect .rating {
    margin-left: 2%;
    color: gold;
}

.hotcollect .price{
    margin-top: 10%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 83% 20%;
}

.hotcollect .discount {
    font-size: 20px;
    font-weight: bold;
    color:  rgb(48, 128, 48);
}

.price .original {
    margin-left: 15px;
    font-size: 15px;
    color: rgb(150, 143, 143);
}

.price .tags {
    display: flex;
    align-items: center;
}

.price .cart {
    position: relative;
    top: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 25px;
    color: white;
    width: 40px;
    height: 40px;
    background-color:rgb(152, 207, 152) ;
}

.price .cart:hover {
    cursor: pointer;
    border: 0.01px solid rgb(152, 207, 152);
    color: rgb(179, 221, 179);
    background-color: white;
}



.hotcollect .topimg{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container1:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .container2 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .topimg2{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg2:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container2:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .container3 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .topimg3{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg3:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container3:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .container4 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .topimg4{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg4:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container4:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .container5 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .topimg5{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg5:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container5:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .container6 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .topimg6{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg6:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container6:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .container7 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .topimg7{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg7:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container7:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.hotcollect .container8 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.hotcollect .topimg8{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.hotcollect .topimg8:hover {
    cursor: pointer;
    opacity: 1;
}

.hotcollect .container8:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.deals {
    height: 553px;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.deals .day {
    height: 553px;
    width: 100%;
}

.deals .day img {
    height: 553px;
    width: 92%;
}

.deals .women {
    height: 553px;
    width: 845px;
}

.women img {
    height: 553px;
    width: 830px;
}

.textimg {
    position: relative;
    top: -553px;
    margin-left: 5%;
}

.deals .colour {
    font-size: 35px;
    font-weight: bold;
    color: rgb(48, 128, 48);
    margin-bottom: 25px;
}

.deals .caption {
    color: rgb(110, 106, 106);
    margin-top: 5px;
    margin-bottom: 0px;
}

.deals .summer {
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 17px;
}

.deals .price {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.deals .discount {
    font-size: 20px;
    font-weight: bold;
    color: rgb(214, 36, 66);
}

.deals .hurry {
    margin-bottom: 0px;
}

.deals .clock {
    margin-top: 15px;
    height: 40px;
    display: flex;
    align-items: center;
}

.deals .clock p {
    height: 55px;
    width: 55px;
    color: white;
    background-color:rgb(48, 128, 48) ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.deals .clock .days{
    margin-left: 0px;
}

.deals .time {
    display: flex;
    width: 350px;
    justify-content: space-evenly;
    position: relative;
    left: -37px;
}

.deals .time p {
    font-size: 12px;
}

.deals .time .m4 {
    position: relative;
    right: -2%;
}

.deals input {
    margin-top: 25px;
    height: 40px;
    width: 95px;
    border-radius: 5px;
    background: none;
    color:rgb(48, 128, 48) ;
    border: 0.01px solid rgb(48, 128, 48);
    transition: all 0.3s ease;
}

.deals input:hover {
    background-color: rgb(48, 128, 48);
    color: white;
    cursor: pointer;
}

.new {
    margin-top: 4%;
}

.new .arrival {
    display: flex;
    align-items: center;
}

.new .arrival p {
    font-size: 22px;
    font-weight: bold;
}

.new .arrival .colored {
    color: rgb(48, 128, 48);
}

.new .arrival .form {
    position: relative;
    left: 85%;
    border: none;
}

.new .arrival input{
    height: 30px;
    width: 30px;
    border: none;
    background-color:rgb(152, 207, 152) ;
    border-radius: 50%;
    cursor: pointer;
}

.best {
    margin-left: 5%;
}

.clothes {
    margin-top: 0%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
}

.clothes img {
    height: 350px;
    width: 350px;
    border-radius: 25px;
}

.clothes .container1{
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.clothes .text {
    width: 350px;
    height: 250px;
    position: relative;
    left: -700px;
    top: 350px;
}

.clothes p {
    margin-left: 2%;
    padding-top: 3%;
    width: 350px;
}

.clothes .grey{
    color: rgb(150, 143, 143);
    font-size: 17px;
}

.clothes .bold {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 5px;
}

.clothes .rating {
    margin-left: 2%;
    color: gold;
}

.clothes .price{
    margin-top: 10%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 83% 20%;
}

.clothes .discount {
    font-size: 20px;
    font-weight: bold;
    color:  rgb(48, 128, 48);
}

.price .original {
    margin-left: 15px;
    font-size: 15px;
    color: rgb(150, 143, 143);
}

.price .tags {
    display: flex;
    align-items: center;
}

.price .cart {
    position: relative;
    top: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 25px;
    color: white;
    width: 40px;
    height: 40px;
    background-color:rgb(152, 207, 152) ;
}

.price .cart:hover {
    cursor: pointer;
    border: 0.01px solid rgb(152, 207, 152);
    color: rgb(179, 221, 179);
    background-color: white;
}



.clothes .topimg{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.clothes .topimg:hover {
    cursor: pointer;
    opacity: 1;
}

.clothes .container1:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.clothes .container2 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.clothes .topimg2{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.clothes .topimg2:hover {
    cursor: pointer;
    opacity: 1;
}

.clothes .container2:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.clothes .container3 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.clothes .topimg3{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.clothes .topimg3:hover {
    cursor: pointer;
    opacity: 1;
}

.clothes .container3:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.clothes .container4 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.clothes .topimg4{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.clothes .topimg4:hover {
    cursor: pointer;
    opacity: 1;
}

.clothes .container4:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}


footer {
    margin-top: 5%;
}

.mail {
    padding-left: 9%;
    height: 100px;
    display: grid;
    grid-template-columns: 2% 25% 26% 36%;
    background-color: rgb(138, 182, 138) ;
    align-items: center;
}

.mail img {
    height: 25px;  
}

.mail form{
    height: 32px;
}

.mail .text {
    padding: 0 20px;
    margin-left: 2%;
    height: 42px;
    width: 60%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mail .Subscribe {
    height: 42px;
    border: none;
    width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: -4px;
    background-color: black;
    color: white;
}

.address-bar{
    margin-left: 9%;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    margin-top: 3%;
}

.address-bar .logo-address img {
    height: 135px;
}

.address-bar ul{
    margin-top: 10px;
}

.address-bar ul li {
    height: 35px;
}

.address-bar ul p{
    margin-bottom: 25px;
}

.address-bar .Capital {
    font-weight: bold;
    font-size: large;
}

.address-bar p {
    margin: 5px;
    margin-left: 0px;
}

.address-bar .bold {
    font-weight: bold;
}

.address-bar a {
    text-decoration: none;
    color: black;
}

.social {
    margin-left: 9%;
}

.social img{
    height: 25px;
}

.credits {
    margin-left: 9%;
    margin-right: 4%;
}

.credits span{
    font-size: 14px;
    color: rgb(172, 171, 171);
}

.credits .end{
    display: inline;
    position: relative;
    left: 73%;
}