*{
    font-family: "Poppins", serif;
}


.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head img {
    margin-left: 5%;
}

.head ul {
    display: flex;
}

.head ul li{
    padding-left: 90px;
    font-size: 18px;
}

.head ul li a:hover{
    color: rgb(3, 133, 57);
}

.head ul li a{
    text-decoration: none;
    color: black;
}

.head form {
    margin-left: 9%;
    height: 37px;
    width: 15%;
    border: 0.01px solid rgb(216, 213, 213);
    border-radius: 5px;
    display: flex;
}

.head input{
    height: 35px;
    width: 83%;
    padding-left: 5%;
    border: none;
}

.head input:hover {
    border: none;
}

.head form img {
    height: 60%;
    position: relative;
    top: 5px;
    left: -10px;
    cursor: pointer;
}

.head .liked {
    height: 1%;
    width: 1%;
    margin: 1%;
    cursor: pointer;
}

.head .header-cart {
    height: 1%;
    width: 1%;
    margin: 0;
    cursor: pointer;
}

.small {
    padding-left: 6%;
    background-color: rgb(240, 240, 240);
    color: rgb(78, 77, 77);
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.items {
    margin-left: 6%;
    margin-top: 3%;
}

.items .grey{
    color: rgb(90, 89, 89);
}

.items .colour{
    color: rgb(48, 128, 48);
    font-weight: bold;
}

.containers {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
}

.containers img {
    height: 350px;
    width: 350px;
    border-radius: 25px;
}

.containers .container1{
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .text {
    width: 350px;
    height: 250px;
    position: relative;
    left: -700px;
    top: 350px;
}

.containers p {
    margin-left: 2%;
    padding-top: 3%;
    width: 350px;
}

.containers .grey{
    color: rgb(150, 143, 143);
    font-size: 17px;
}

.containers .bold {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 5px;
}

.containers .rating {
    margin-left: 2%;
    color: gold;
}

.containers .price{
    margin-top: 10%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 83% 20%;
}

.containers .discount {
    font-size: 20px;
    font-weight: bold;
    color:  rgb(48, 128, 48);
}

.price .original {
    margin-left: 15px;
    font-size: 15px;
    color: rgb(150, 143, 143);
}

.price .tags {
    display: flex;
    align-items: center;
}

.price .cart {
    position: relative;
    top: -40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 25px;
    color: white;
    width: 40px;
    height: 40px;
    background-color:rgb(179, 221, 179) ;
}

.price .cart:hover {
    cursor: pointer;
    border: 0.01px solid rgb(179, 221, 179);
    color: rgb(179, 221, 179);
    background-color: white;
}



.containers .topimg{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container1:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container2 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg2{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg2:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container2:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container3 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg3{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg3:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container3:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container4 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg4{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg4:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container4:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container5 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg5{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg5:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container5:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container6 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg6{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg6:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container6:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container7 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg7{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg7:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container7:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container8 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg8{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg8:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container8:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container9 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg9{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg9:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container9:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container10 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg10{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg10:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container10:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container11 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg11{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg11:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container11:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.containers .container12 {
    display: flex;
    border: 0.01px solid rgb(216, 213, 213);
    padding: 15px;
    width: 350px;
    height: 600px;
    border-radius: 25px;
}

.containers .topimg12{
    position: relative;
    left: -350px;
    opacity: 0;
    transition: all 0.7s ease;
}

.containers .topimg12:hover {
    cursor: pointer;
    opacity: 1;
}

.containers .container12:hover {
    box-shadow: 0 0 10px rgba(0, 0 , 0, .2);;
}

.page-scroller{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.page-scroller .numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.page-scroller p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin-right: 15px;
    transition: all 0.2s ease;
}

.page-scroller p:hover {
    cursor: pointer;
    background-color: rgb(48, 128, 48);
    color: white;
}

.page-scroller .one {
    background-color: rgb(48, 128, 48);
    color: white;
}

footer {
    margin-top: 3%;
}

.mail {
    padding-left: 9%;
    height: 100px;
    display: grid;
    grid-template-columns: 2% 25% 26% 36%;
    background-color: rgb(138, 182, 138) ;
    align-items: center;
}

.mail img {
    height: 25px;  
}

.mail form{
    height: 32px;
}

.mail .text {
    padding: 0 20px;
    margin-left: 2%;
    height: 42px;
    width: 60%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mail .Subscribe {
    height: 42px;
    border: none;
    width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    left: -4px;
    background-color: black;
    color: white;
}

.address-bar{
    margin-left: 9%;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    margin-top: 3%;
}

.address-bar .logo-address img {
    height: 135px;
}

.address-bar ul{
    margin-top: 10px;
}

.address-bar ul li {
    height: 35px;
}

.address-bar ul p{
    margin-bottom: 25px;
}

.address-bar .Capital {
    font-weight: bold;
    font-size: large;
}

.address-bar p {
    margin: 5px;
    margin-left: 0px;
}

.address-bar .bold {
    font-weight: bold;
}

.address-bar a {
    text-decoration: none;
    color: black;
}

.social {
    margin-left: 9%;
}

.social img{
    height: 25px;
}

.credits {
    margin-left: 9%;
    margin-right: 4%;
}

.credits span{
    font-size: 14px;
    color: rgb(172, 171, 171);
}

.credits .end{
    display: inline;
    position: relative;
    left: 73%;
}
